@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1e1e2e;
  color: #cdd6f4;
  font-family: 'Segoe UI', sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #1e1e2e; }
::-webkit-scrollbar-thumb { background: #45475a; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #585b70; }